.edit-post {
    width: 60%;
    margin: auto;
}

.choose-img {
    margin-top: 5px;
}

.display-post {
    margin-top: 5%;
}

[data-color="red"] {
    color: red;
}

[data-color="yellow"] {
    color: yellow;
}

[data-color="blue"] {
    color: blue;
}

.btn:hover {
    transform: scale(1.2);
}

.btn {
    margin-bottom: 40px;
}

.giphy {
    display: flex;
    flex-direction: row;
}

.flex-img {
    display: flex;
    flex-wrap: wrap;
}

.flex-img > * {
    flex-basis: 25%;
}